@import "tailwindcss";

@theme inline {
  --spacing-25: calc(var(--spacing) * 25);
  --spacing-30: calc(var(--spacing) * 30);
  --font-poppins: var(--font-poppins-family);
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #fff;
  background-image: url("/assets/BG-D0zZy7Li.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

.font-Poppins {
  font-family: var(--font-poppins-family), system-ui, sans-serif;
}
